---
import MainLayout from "../../../layouts/MainLayout.astro";
import CardCalculator from "../../../components/CardCalculator";
import SmallButton from "../../../components/Button";

const paragraphSize = "is-size-5";
const Mathway = "https://www.mathway.com/pt/Calculus";
const Symbolab = "https://pt.symbolab.com/";
const WolframAlpha = "https://www.wolframalpha.com/";
const MalMath = "https://www.malmath.com/";
---

<MainLayout pageTitle="Calculadora">
  <p class=`${paragraphSize} has-text-justified`>
    Nessa página você encontrará diversos links, calculadoras e ferramentas de
    cálculo, para te auxiliar nos seus estudos.
  </p>
  <p class=`${paragraphSize} has-text-justified`>
    As calculadoras de cálculo são muito boas para resolver derivadas, limites,
    integrais, e possuem solução passo a passo, além de o Mathway, Symbolab e
    MalMath possuírem apps para celular, onde você pode tirar foto do problema,
    e o aplicativo vai solucioná-lo.
  </p>
  <p class=`${paragraphSize} has-text-justified`>
    As calculadoras de Petrofísica são projetos pessoais, uma é uma adaptação
    para o GeofisicaHub de um site popular que possui vários cálculos de
    Petrofísica, e o outro é um software que possui várias funcionalidades, mas
    ainda está em desenvolvimento.
  </p>
  <p class=`${paragraphSize} has-text-justified`>
    Já as calculadoras de Álgebra Linear e Geometria são muito boas, mas possuo
    um projeto de desenvolver softwares que cubram esses cálculos, ou adaptar
    alguns deles para o site. Mas, enquanto isso não sai do papel, aproveite o
    que esses sites tem para oferecer!
  </p>
  <h1 class="is-size-2 has-text-centered has-text-primary has-text-weight-bold">
    Calculadoras de Cálculo
  </h1>
  <div class="columns">
    <div class="column">
      <CardCalculator
        client:load
        title="Mathway"
        description=`
                    Mathway é uma ferramenta online que resolve problemas matemáticos, 
                    oferecendo soluções passo a passo em álgebra, trigonometria, cálculo e mais.
                        `
        href={Mathway}
      />
    </div>
    <div class="column">
      <CardCalculator
        client:load
        title="Symbolab"
        description=`
                    Symbolab é uma calculadora online que resolve problemas 
                    matemáticos passo a passo. Abrange álgebra, cálculo e estatística. 
                    Insira equações e obtenha soluções detalhadas.
                        `
        href={Symbolab}
        imgSize=""
      />
    </div>
    <div class="column">
      <CardCalculator
        client:load
        title="Wolfram Alpha"
        description=`
                    Wolfram Alpha é um motor de busca que responde perguntas com 
                    análises baseadas em dados. Cobre matemática, ciências, história, 
                    geografia e música, usando algoritmos e um banco de dados. 
                        `
        href={WolframAlpha}
        imgSize="is-3by1"
      />
    </div>
    <div class="column">
      <CardCalculator
        client:load
        title="MalMath"
        description=`
                Malmath é um aplicativo que ajuda a resolver problemas matemáticos
                passo a passo. Ele auxilia alunos a entenderem conceitos e praticarem
                diretamente nos seus celulares. 
                `
        href={MalMath}
        imgSize="is-1by1 is-96x96"
      />
    </div>
  </div>
  <hr />
  <h1
    id="petro"
    class="is-size-2 has-text-centered has-text-primary has-text-weight-bold"
  >
    Petrofísica
  </h1>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
      <p class=`${paragraphSize} has-text-justified`>
        Atualmente a PetroCalc está em desenvolvimento, pois ela requer um tempo
        maior para adaptar para o novo design (Talvez eu tente mantê-la no
        design antigo enquanto isso). Mas estou desenvolvendo um aplicativo para
        computadores chamado Petrofizika que, essencialmente, é a PetroCalc, mas
        com mais funcionalidades.
      </p>
    </div>
    <div class="column"></div>
  </div>

  <div class="buttons are-large is-centered mt-5">
    <SmallButton
      client:load
      href="/tools/calculator/petrocalc"
      color="is-primary">PetroCalc</SmallButton
    >
    <SmallButton client:load href="#petro" color="is-primary" disabled
      >Petrofizika</SmallButton
    >
  </div>
  <hr />
  <h1
    id="petro"
    class="is-size-2 has-text-centered has-text-primary has-text-weight-bold"
  >
    Álgebra Linear e Geometria
  </h1>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
      <p class=`${paragraphSize} has-text-justified`>
        Existem dois sites muito bons que possuem calculadoras tanto de Álgebra
        Linear e Geometria. Você pode acessá-los através dos links abaixo:
      </p>
    </div>
    <div class="column"></div>
  </div>

  <div class="buttons are-large is-centered mt-5">
    <SmallButton
      client:load
      href="http://www.math.odu.edu/~bogacki/cgi-bin/lat.cgi"
      color="is-primary">Linear Algebra Toolkit</SmallButton
    >
    <SmallButton
      client:load
      href="https://www.calculatorsoup.com/"
      color="is-primary"
      disabled>CalculatorSoup</SmallButton
    >
  </div>
</MainLayout>
