---
import CardResearch from "../../../components/CardResearch";
import MainLayout from "../../../layouts/MainLayout.astro";

const googleAcademico = "https://scholar.google.com.br/?hl=pt";
const capes = "https://www.periodicos.capes.gov.br/";
const bibliotecaTeses = "https://bdtd.ibict.br/vufind/";
const SciElo = "https://scielo.org/";
const biolineInternational = "https://www.bioline.org.br/";
const Sciencegov = "https://www.science.gov/";
const SEGLib = "https://library.seg.org/";
const merriamWebster = "https://www.merriam-webster.com/";
const consensusAI = "https://consensus.app/";
---

<MainLayout
  pageTitle="Papers, Artigos e Teses"
  pageUrl="https://geofisicahub.me/tools/research/articles"
  pageDescription="Seção com as principais fontes de artigos, papers e teses!"
>
  <p class="is-size-4 has-text-justified">
    Nessa página há links para as principais fontes de artigos, periódicos,
    livros, dissertações, teses, enfim, muitas coisas. Muitos deles valem para
    todas as áreas, mas é só pesquisar sobre Geofísica que é possível achar o
    conteúdo sobre a área.
  </p>
  <div class="columns">
    <div class="column">
      <CardResearch
        client:load
        title="Google Acadêmico"
        description=`
        Google Acadêmico é uma plataforma de pesquisa que permite a 
        busca de artigos científicos, teses, livros e resumos. Além 
        disso é possível criar um perfil e acompanhar 
        as citações dos seus artigos.
        `
        href={googleAcademico}
      />
    </div>
    <div class="column">
      <CardResearch
        client:load
        title="CAPES"
        description=`
        CAPES é uma fundação do Ministério da Educação (MEC) que tem por missão avaliar 
        e promover a expansão e consolidação do ensino superior em todos os estados 
        da Federação. 
        `
        href={capes}
      />
    </div>
    <div class="column">
      <CardResearch
        client:load
        title="Biblioteca de Teses"
        description=`
        A Biblioteca Digital de Teses e Dissertações (BDTD) é um portal de acesso a teses e dissertações defendidas em instituições de ensino e pesquisa do Brasil.  
        `
        href={bibliotecaTeses}
      />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <CardResearch
        client:load
        title="SciELO"
        description=`
        A SciELO é uma biblioteca digital gratuita criada para facilitar a 
        disseminação de publicações científicas de nações em desenvolvimento.
        `
        href={SciElo}
      />
    </div>
    <div class="column">
      <CardResearch
        client:load
        title="Bioline International"
        description=`
        Uma plataforma para publicações científicas feita por cientistas de 
        maneira colaborativa. Ela oferece acesso a uma variedade de artigos científicos.
        `
        href={biolineInternational}
      />
    </div>
    <div class="column">
      <CardResearch
        client:load
        title="Science.gov"
        description=`
        É um portal da web e uma ferramenta de busca que integra pesquisa e 
        conhecimento de várias agências e órgãos dos Estados Unidos (EUA). 
        Seu acesso é gratuito.
        `
        href={Sciencegov}
      />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <CardResearch
        client:load
        title="SEG Library"
        description=`
        SEG Library é uma plataforma da SEG que disponibiliza artigos e livros. 
        É necessário ser membro da SEG (ou pagar) para acessar o conteúdo.
        `
        href={SEGLib}
      />
    </div>
    <div class="column">
      <CardResearch
        client:load
        title="Merriam Webster"
        description=`
        Merriam Webster é um dicionário online que pode ser utilizado para 
        encontrar definições de palavras.
        `
        href={merriamWebster}
      />
    </div>
    <div class="column">
      <CardResearch
        client:load
        title="ConsensusAI"
        description=`
        Consenus AI é uma plataforma de pesquisa que utiliza inteligência 
        artificial para encontrar artigos científicos.
        `
        href={consensusAI}
      />
    </div>
  </div>
</MainLayout>
