---
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import SmallButton from "../components/Button";
import Card from "../components/Card.astro";

const website_title = "GeofisicaHub";
const buttons = [
  { href: "/about/about-site", label: "Saiba mais!" },
  { href: "/about/about-geophysics", label: "Geofísica?" },
];
const cards = [
  {
    iconCard: "fa-book",
    titleCard: "Materiais Didáticos",
    descriptionCard: `
      A seção de 'Materiais Didáticos' possui diversos livros sobre Geofísica, Geologia
      Cálculo, e etc, e é lá que você vai encontrar as principais fontes de estudos. 
      A parte de Geofísica é a que possui mais livros pois, obviamente, 
      é a mais importante.
    `,
    linkCard: "/materials/HUB",
  },
  {
    iconCard: "fa-calculator",
    titleCard: "Calculadoras e Recursos",
    descriptionCard: `
      Nossa seção de 'Calculadoras' oferece uma variedade de ferramentas
      para te ajudar a resolver problemas de geofísica de forma rápida e
      eficiente. Além disso, você também pode acessar a página de recursos
      para encontrar os principais websites e softwares de geofísica.
    `,
    linkCard: "/tools/calculator/calculator-hub",
  },
  {
    iconCard: "fa-newspaper",
    titleCard: "Publicações Científicas",
    descriptionCard: `
      Na seção de publicações você encontrará diversas fontes de artigos,
      papers, e dissertações que abordam temas de geofísica. Use essa seção
      caso queira pesquisar alguma fonte, ou encontrar alguma referência
      para seu trabalho.
    `,
    linkCard: "/tools/research/articles",
  },
];
---

<LandingPageLayout
  pageTitle={website_title}
  pageUrl="https://geofisicahub.me/"
  pageDescription="Ferramenta que reúne tudo sobre Geofísica em um só lugar!"
>
  <div class="custom">
    <div class="columns is-centered">
      <div class="column is-full has-text-centered">
        <figure class="image is-inline-block">
          <img src="/images/gifs/earth.gif" />
        </figure>
      </div>
    </div>

    <div class="columns">
      <div class="column is-fullwidth">
        <div class="has-text-centered">
          <br />
          <h5 class="title is-2 has-text-centered">
            Já se sentiu perdido na Geofísica <br /> ou precisa de orientação?
          </h5>
          <p class="has-text-centered is-size-5 is-family-sans-serif">
            Seja qual for sua situação, você está no lugar certo! Bem-vindo ao
            GeofisicaHub, seu guia completo para estudos e trabalhos na área.
            Clique abaixo e explore! Se chegou aqui por acaso, descubra essa
            nova ciência incrível! Se você é aluno da Geofísica da Universidade
            Federal Fluminense,&nbsp;<a
              href="./src/uff.html"
              style="font-weight: bold">clique aqui!</a
            >
          </p>
          <div class="buttons are-large is-centered mt-5">
            {
              buttons.map((button) => (
                <SmallButton client:load href={button.href} color="is-primary">
                  {button.label}
                </SmallButton>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <hr />
    <section class="section">
      <div class="container">
        <h2 class="title is-1 has-text-centered has-text-weight-bold">
          Principais ferramentas
        </h2>
        <p class="is-size-4 has-text-centered pb-5">
          O GeofisicaHub oferece recursos e ferramentas projetadas para melhorar
          seus estudos e facilitar sua vida. Aqui, você encontrará uma extensa
          coleção de materiais didáticos, calculadoras com ótimas
          funcionalidades, e acesso a publicações científicas de várias fontes.
        </p>
      </div>
      <div class="columns">
        {
          cards.map((card) => (
            <div class="column">
              <Card
                iconCard={card.iconCard}
                titleCard={card.titleCard}
                descriptionCard={card.descriptionCard}
                linkCard={card.linkCard}
              />
            </div>
          ))
        }
      </div>
    </section>
  </div>
</LandingPageLayout>
