---
const { title, url, date, description, imgurl } = Astro.props;
const formattedDate = new Date(date).toLocaleString("pt-BR", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
  hour12: true,
});
---

<!-- <li ><a href={url}>{title} - {formattedDate}</a></li> -->
<a href={url}>
  <div class="card custom-card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src={imgurl} alt={`Image for ${title}`} />
      </figure>
    </div>
    <div class="card-header">
      <p class="card-header-title is-size-4 is-centered">{title}</p>
    </div>
    <div class="card-content">
      <p class="has-text-text-light has-text-centered mb-4">{description}</p>
      <p class="is-size-5 has-text-link-light has-text-centered">
        Publicado em {formattedDate}
      </p>
    </div>
    <div class="card-footer custom-card-footer">
      <a href={url} class="card-footer-item">Leia mais</a>
    </div>
  </div>
</a>

<style>
  .custom-card {
    transition: all 0.3s ease-in-out;
    border: 1px solid #14161a;
  }

  .custom-card:hover {
    transform: translateY(-10px) scale(1);
    border: 1px solid #6380f2;
    box-shadow: 0 0.5em 1em -0.125em #6380f2; /* Adjust as needed */
  }

  .custom-card-footer:hover {
    background-color: hsl(224, 86%, 15%);
  }
</style>
