---
import "../style/geofisico.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadInformation from "../components/HeadInformation.astro";

const favicon = "/GeofisicaHub-favicon.svg";
const brand_logo = "/logotipo_final.svg";
const { pageTitle, pageUrl, pageDescription } = Astro.props;
---

<html lang="en" data-theme="dark">
  <head>
    <HeadInformation
      pageTitle={pageTitle}
      pageDescription={pageDescription}
      pageUrl={pageUrl}
    />
    <title>{pageTitle} - Tudo sobre Geofísica!</title>

    <script
      is:inline
      src="https://kit.fontawesome.com/61000256a0.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Header logoSrc={brand_logo} />

    <section class="section">
      <div class="container is-size-4">
        <div class="content">
          <slot />
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
