---
import "../style/geofisico.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HubButtons from "../components/ButtonHub";
import { ClientRouter } from "astro:transitions";
import HeadInformation from "../components/HeadInformation.astro";

const { pageTitle, pageName, urlBread, pageUrl, pageDescription } = Astro.props;
const brand_logo = "/logotipo_final.svg";
---

<html lang="en" data-theme="dark">
  <head>
    <HeadInformation
      pageTitle={pageTitle}
      pageDescription={pageDescription}
      pageUrl={pageUrl}
    />
    <title>{pageTitle} - GeofisicaHub</title>
    <ClientRouter />

    <script
      is:inline
      src="https://kit.fontawesome.com/61000256a0.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Header logoSrc={brand_logo} />

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content has-text-centered">
              <h1 class="is-size-1 has-text-centered has-text-weight-black">
                {pageTitle}
              </h1>
              <HubButtons client:visible />
              <slot />
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
